body{
    background-color: #FFB627;
    font-family: helventica;
}
.pizza{
    border: 2px solid #161a1d;
    padding: 1em;
    margin: 1em;
    margin-bottom: 3em;
    margin-left: 1px;
    border-radius: 1em;
    width: 40%;
}


.legend_pizza{
    background-color: #CC5803;
    
}
.juju_pizza {background-color: #CC5803;
}

.tiny_pizza{
    background-color: #CC5803;
    
}
.contact{
    background-color: #335c67;
    font-style: italic;
    text-align: center;
    text-decoration-color: bisque;
} 
@media (min-width: 960px){
    body {
        background-color: #ff9f1c;
    }
    .pizzas{ 
        display: flex;
        align-items:stretch;
        padding: 5em;
    }
}
@media (min-width: 700px){
    body {
        background-color: #c5d86d;
    }
}
